<nav class="topbarContainer">
    <div class="topbarInner">
        <div class="topbarLeft">
            <h1>Praktyklog</h1>
            <span>Dziennik praktyk dla studentów</span>
        </div>

        <div class="topbarRight">
            {% if profile %}
                <span class="username">{{ profile.full_name }}</span><span>({{ current_user.role }})</span>
                {% if current_user.role == 'student' %}
                <a href="{{ url_for('student.profil_studenta') }}" class="btn">Profil</a>
                {% endif %}
                {% if current_user.role == 'supervisor' %}
                <a href="{{ url_for('supervisor.dashboard') }}" class="btn">Dashboard</a>
                {% endif %}
                {% if current_user.role == 'admin' %}
                <a href="{{ url_for('admin.dashboard') }}" class="btn">Dashboard</a>
                {% endif %}
                <a href="{{ url_for('auth.logout') }}" class="btn logout">Wyloguj</a>
            {% endif %}
        </div>
    </div>
</nav>