{% extends 'layout.html' %}

{% block pagetitle %}
Lista Użytkowników
{% endblock %}

{% block pagecontent %}
<div>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Rola</th>
                <th>Profil</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <form method="POST" action="{{ url_for('admin.profil_uzytkownika', user_id=user.id) }}">
                        <button type="submit">Profil</button>
                    </form>
                </td>
                <td><button>Usuń</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}