{% extends 'layout.html' %}

{% block pagetitle %}
Dashboard Studenta
{% endblock %}

{% block pagecontent %}
<div>
    <h1>Dashboard</h1>
    <p>Witaj, {{ profile.full_name }}!</p>
    <p>Imię i nazwisko: {{ profile.full_name }}</p>
    <p>Numer indeksu: {{ profile.student_id }}</p>
    <p>Opiekun uczelniany: {{ college_supervisor.full_name if college_supervisor else 'Brak' }}</p>
    <p>Opiekun zakładowy: {{ workplace_supervisor.full_name if workplace_supervisor else 'Brak' }}</p>
</div>
{% endblock %}
