{% extends 'layout.html' %}

{% block pagetitle %}
Potwierdzenie Efektów Nauki
{% endblock %}

{% block pagecontent %}
<div>
    <button onclick="{{ url_for('student.efekty_nauki_pdf')}}">Pobierz PDF</button>
    <span>Załącznik nr 4</span>
    <h1>Potwierdzenie uzyskania efektów uczenia się w ramach praktyki zawodowej</h1>
    <div>
        <p><span>Student/ka:</span> {{ confirmation.student.full_name }}</p>
        <p><span>Nr albumu:</span> {{ confirmation.student.student_id }}</p>
        <p><span>Kierunek studiów:</span> {{ confirmation.student.college_major }}</p>
        <p><span>Specjalność:</span> {{ confirmation.student.college_specialization }}</p>
        <p>W ramach praktyki zawodowej zrealizowanego w wymiarze ... godzin uzyskał/a nie uzyskał/a zakładane dla praktyki zawodowej efekty uczenia się:</p>
        <table>
            <thead>
                <tr>
                    <th>L.p.</th>
                    <th>Efekty uczenia się</th>
                    <th>Potwierdzenie uzyskania efektów</th>
                </tr>
            </thead>
            <tbody>
                {% for effect in effects %}
                <tr>
                    <td>{{ effect.number }}</td>
                    <td>{{ effect.description }}</td>
                    <td>{{ 'Uzyskał/a' if effect.is_approved else 'Nie uzyskał/a' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <span>Potwierdzenie bezpośredniego opiekuna zakładowego:</span>
        <div>
            <p>{{ confirmation.workplace_supervisor.full_name if confirmation.workplace_supervisor else '-' }}</p>
            <p>{{ confirmation.workplace_supervisor_signed_date.strftime('%Y-%m-%d %H:%M') if confirmation.workplace_supervisor_signed_date else '-' }}</p>
            <span>Data i podpis opiekuna zakładowego</span>
        </div>

        <span>Opinia opiekuna uczelnianego:</span>
        <p>{{ confirmation.college_supervisor_opinion or 'Not provided yet' }}</p>
        <div>
            <p>{{ confirmation.college_supervisor.fullname if confirmation.college_supervisor_signed else '-' }}</p>
            <p>{{ confirmation.college_supervisor_signed_date.strftime('%Y-%m-%d %H:%M') if confirmation.college_supervisor_signed_date else '-' }}</p>
            <span>Data i podpis opiekuna uczelnianego</span>
        </div>
    </div>
</div>
{% endblock %}