{% extends 'layout.html' %}

{% block pagetitle %}
Profil Studenta
{% endblock %}

{% block pagecontent %}
<div>
    <h1>Profil Studenta</h1>
    <p>Imię i nazwisko:<span>{{ profile.full_name if profile else '' }}</span></p>
    <p>Numer indeksu:<span>{{ profile.student_id if profile else '' }}</span></p>
    <p>Miejsce praktyki:<span>{{ profile.internship_place if profile else 'Brak' }}</span></p>
    <p>Opiekun zakładowy:<span>{{ profile.workplace_supervisor.full_name if profile and profile.workplace_supervisor else 'Brak' }}</span></p>
    <p>Opiekun uczelniany:<span>{{ profile.college_supervisor.full_name if profile and profile.college_supervisor else 'Brak' }}</span></p>
    <p>Data rozpoczęcia praktyk: <span>{{ profile.internship_start_date.strftime('%Y-%m-%d') if profile and profile.internship_start_date else 'Nie rozpoczęte' }}</span></p>
    <p>Data zakończenia praktyk: <span>{{ profile.internship_end_date.strftime('%Y-%m-%d') if profile and profile.internship_end_date else 'W trakcie' }}</span></p>
    <button onclick="{{ url_for('student.profil_studenta_edytuj') }}">Edytuj profil</button>
</div>
{% endblock %}