<!DOCTYPE html>
<html>
<head>
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9E9Xgq6hQG/TGCPjdkSmyUzhM8fqa2XbN6cHi" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

    {% block styles %}{% endblock %}
</head>
<body class="bodyContainer">
    {% include 'topbar.html' %}
    
    <div class="layout">
        {% include 'sidebar.html' %}

        <main class="content">
            <div class="messages mb-2">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <span class="{{ category }} p-1 px-2 my-2 rounded">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>

            {% block pagecontent %}{% endblock %}
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>