{% extends 'layout.html' %}

{% block pagetitle %}
Dashboard Opiekuna
{% endblock %}

{% block pagecontent %}
<div>
    <h1>Supervisor Dashboard</h1>
    <p>Witaj, {{ profile.full_name }}!</p>
    <p>Typ opiekuna: {{ 'Uczelniany' if profile.type == 'college' else 'Zakładowy' }}</p>
    <h2>Przydzieleni studenci:</h2>
    <ul>
        {% for student in students %}
            <li><a href="{{ url_for('supervisor.student_detail', student_id=student.id) }}">{{ student.full_name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}